
* {
	margin:0;
	padding:0;
}

.contenedor .marca{
	background: url(../imagen/enca.jpg) no-repeat center top;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}

.marca p {
	position: relative;
	font-size: 30px;
	text-align: center;
	color: #F70F07;
	text-shadow: 1px  0px 0px black,
               0px  1px 0px black,
              1px  0px 0px black,
               0px -1px 0px black;
}

/*CUERPO*/
body{
	background: #F9DE8D;
	background: url(../imagen/fondo.jpg) no-repeat center center fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}

/*FIN*/

/*MENU*/
  
.menu_bar {
	display:none;
}
 header {
	width: 100%;
 }
 
header nav {
	background:#5D6D7E;
	z-index:1000;
	max-width: 1000px;
	width:95%;
	margin: 0 auto 5px;
}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background:#E6344A;
}
 
header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
	font-family: Comic Sans MS,arial,verdana;
	text-transform: capitalize; 
}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .children {
	display:block;
}
 
header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
	display: block;
}
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
 
@media screen and (max-width: 800px) {
	body {
		padding-top:74px;
	}
	
	
	.contenedor .marca{
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
	}
 
	.menu_bar {
		display:block;
		width:100%;
		position: relative;
		margin-top: 5px;
		background:#E6344A;
	}
 
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
 
	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: absolute;
		right:100%;
		margin: 0;
		overflow: scroll;
	}
 
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
 
	header nav ul li a {
		display: block;
	}
	
	header nav ul li:hover .children {
		display: none;
	}
 
	header nav ul li .children {
		width: 100%;
		position: relative;
	}
 
	header nav ul li .caret {
		float: right;
	}
}
/*FIN MENU*/

/*REDES SOCIALES*/

.conte3 {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.conte3 > .social_bar {
	position: relative;
	right: 0;
	top: 35%;
	text-align: center;
	font-family: Comic Sans MS,arial,verdana;
}

.ico {
	color: black;
	text-decoration: none;
	padding: .7rem;
	transition: all .5s;
}

.fa-facebook {
	background: #0E94F7 ;
}

.fa-instagram {
	background: #EC681C;
}

.fa-twitter-square {
	background: #0EF1F7;
}

.ico:first-child {
	border-radius: 1rem 0 0 0;
}
.ico:last-child {
	border-radius: 1rem 0 0 0;
}

.ico:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/*FORMULARIO*/

.main2 {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
	float: left;
	box-sizing: border-box;
	z-index: 0;
}

.formulario {
   background-color: white;
  width: 350px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
  position: relative;
  z-index:1;
}
.formulario__titulo {
  text-align: center;
  margin-top: 0;
  color: rgba(0,0,0,0.7);
}
.formulario__input, .formulario__label, .formulario__submit {
  display: block;
  font-size: 1.3em;
}
.formulario__input {
  padding: 20px;
  width: 310px;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.3);
  margin-bottom: 40px;
}
.formulario__input:focus {
  outline: 1px solid rgba(0,0,0,0.7);
}
.formulario__input:focus + .formulario__label{
  margin-top: -135px;
}
.formulario__label {
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: -20;
  color: rgba(0,0,0,0.5);
  transition: all 0.2s;
}
.formulario__submit {
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}
.fijar {
  margin-top: -135px;
}

@media screen and (max-width: 800px) {
	.formulario {
	   background-color: white;
	  width: 80%;
	  margin: auto;
	  box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
	  position: relative;
	  z-index:1;
    }
	
	.formulario__input {
	  padding: auto;
	  width: 80%;
	  background: rgba(0,0,0,0.1);
	  border: 1px solid rgba(0,0,0,0.3);
	  margin-bottom: 40px;
	}
	
}


/*FIN FORMULARIO*/

/*BANNER*/
.banner {
	width: 100%;
	height: 300px;
	margin: 5px auto;
	background-size: 100% 100%;
	animation: banner 60s infinite;
	animation-direction: alternate;
}

@keyframes banner {
	0%, 10% {
		background-image: url(../imagen/ima1.jpg);
		opacity: 1;
	}
	
	11%, 14% {
		opacity: 0.1;
	}
	
	15%, 25% {
		background-image: url(../imagen/ima2.jpg);
		opacity: 1;
	}
	
	26%, 29% {
		opacity: 0.1;
	}
	
	30%, 40% {
		background-image: url(imagen/ima3.jpg);
		opacity: 1;
	}
	
	41%, 44% {
		opacity: 0.1;
	}
	
	45%, 55% {
		background-image: url(../imagen/ima4.jpg);
		opacity: 1;
	}
	
	56%, 59% {
		opacity: 0.1;
	}
	
	60%, 70% {
		background-image: url(../imagen/dib1.jpg);
		opacity: 1;
	}
	
	71%, 74% {
		opacity: 0.1;
	}
	
	75%, 85% {
		background-image: url(../imagen/dib2.jpg);
		opacity: 1;
	}
	
	86%, 89% {
		opacity: 0.1;
	}
	
	90%, 100% {
		background-image: url(../imagen/dib1.jpg);
	}
	
} 

/*FIN BANNER*/

/*CONTENIDO*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.marvin {
	width: 100%;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.container .main h2 {
	color: #F9E79F;
	text-align: center;
	text-shadow: 1px  0px 0px #B03A2E,
               0px  1px 0px #B03A2E1,
              1px  0px 0px #B03A2E,
               0px -1px 0px #B03A2E;
}

.container .main h3,li,p {
	font-family: cursive;
	color: white;
	text-align: justify;
}

.container .main h3 {
	font-weight:bold;
	text-transform: uppercase;
	-webkit-text-fill-color: #F7DC6F;
	-webkit-text-stroke-color: red;
	-webkit-text-stroke-width: 0.75px;
}

.container .main ol {
	list-style-position: inside;
}

@media screen and (max-width: 800px) {
	.column {
		flex: none;
		max-width: 100%;
    }
}



/*TEXTOS ANIMADOS*/
.container .animado {
	display: flex;
	width: 100%;
	height: 40px;
	font-size: 30px;
	background: url(../imagen/textos.jpg) no-repeat center top;
	background-size: cover;
	line-height: 40px;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	margin: auto auto 5px;
	overflow: hidden;
}

.animado .tal {
	list-style: none;
	padding-left: 10px;
	margin: auto;
	animation: cambiar 12s infinite;
}

.animado  .tal,.par {
	color: #FAE004 ;
	margin-left: 5px ;
	font-weight:bold;
	  -webkit-text-fill-color: black;
	  -webkit-text-stroke-color: red;
	  -webkit-text-stroke-width: 0.75px;  
}

@media screen and (max-width: 800px) {
	.container .animado {
		font-size:100%
	}
}

@keyframes cambiar {
	0% {
		margin-top: 0;
	}
	15% {
		margin-top: 0;
	}
	20% {margin-top: -40px;}
	45% {margin-top: -40px;}
	
	50% {margin-top: -80px;}
	75% {margin-top: -80px;}
	
	80% {margin-top: -120px;}
	105% {margin-top: -120px;}
	
	110% {margin-top: -160px;}
	135% {margin-top: -160px;}
	
	140% {margin-top: -200px;}
	165% {margin-top: -200px;}
	
	170% {margin-top: -240px;}
	195% {margin-top: -240px;}
	
	200% {
		margin-top:0;
	}
}

/*FIN TEXTOS ANIMADOS*/

.main {
	width: 70%;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
	float: left;
	box-sizing: border-box;
}

.otros {
	margin-left: 10px;
	background: url(../imagen/fondo.jpg) no-repeat center top;
	width: 29%;
	box-sizing: border-box;
	float: left;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}

.otros h2 {
	color: #F3EC09;
	text-align: center;
	padding-bottom: 10px;
	font-family: Comic Sans MS,arial,verdana;
	text-shadow: 1px  0px 0px #000,
               0px  1px 0px #000,
              1px  0px 0px #000,
               0px -1px 0px #000;
}

footer {
	clear: both;
	float: left;
	margin-top: 20px;
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	color: #fff;
	background: #000;
}

/*PARA AJUSTE DEL TEXTO*/
@media screen and (max-width: 800px){
	
	.container .animado {
		margin-top: 5px;
	}
	
	.main {
		width: 100%;
	}
	
	.otros {
		width: 100%;
		margin-top: 10px;
		margin-left: 0;
	}
	
}

@media screen and (max-width: 400px){
	.container {
		width: 100%;
	}
	
	aside{
		display: none;
	}
}
/*FIN CONTENIDO*/

/*2DO BLOQUE CONTENIDO*/

/* Efecto Bordes Inicio */

.conte {
  position: relative;
  width: 250px;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto 10px;
}

.div-img .img, .pic{
	  display: block;
	  width: 250px;
	  height: 150px;
	  -webkit-transform: 0px 0px 1;
	  -moz-transform: 0px 0px 1;
	  -ms-transform: 0px 0px 1;
	  -o-transform: 0px 0px 1;
	  transform: 0px 0px 1;
	  transform: translate(0px, 0px) scale(1);
	  -webkit-transform: translate(0px, 0px) scale(1);
	  -moz-transform: translate(0px, 0px) scale(1);
	  -o-transform: translate(0px, 0px) scale(1);
	  -ms-transform: translate(0px, 0px) scale(1);
	  -webkit-transition: all 0s ease 0s;
	  -moz-transition: all 0s ease 0s;
	  -o-transition: all 0s ease 0s;
	  transition: all 0s ease 0s;
	  -webkit-transition: all 500ms ease-in-out;
	  -moz-transition: all 500ms ease-in-out;
	  -ms-transition: all 500ms ease-in-out;
	  -o-transition: all 500ms ease-in-out;
}

.div-img:hover .img {
  -webkit-transform: 0px -10px 0.5;
  -moz-transform: 0px -10px 0.5;
  -ms-transform: 0px -10px 0.5;
  -o-transform: 0px -10px 0.5;
  transform: 0px -10px 0.5;
  transform: translate(0px, -10px) scale(0.5);
  -webkit-transform: translate(0px, -10px) scale(0.5);
  -moz-transform: translate(0px, -10px) scale(0.5);
  -o-transform: translate(0px, -10px) scale(0.5);
  -ms-transform: translate(0px, -10px) scale(0.5);
  border-radius: 50%;
}

.texto { /* Propiedades de la transparencia */
	background-color: rgba(0, 0, 0, 0.8);
	width: 230px; /* ancho del contenedor de texto */
	height: 110px; /* alto del contenedor de texto */
	top: 10px; /*distancia hacia abajo*/
	left: 0; /*distancia hacia la derecha*/
	border-radius: 15px 15px 15px 15px; /*efecto esquinas redondeadas */
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 0px solid #000000;
	opacity: 0; /* esta condicion mantiene el texto oculto */
	position: absolute;
	padding: 10px; /* espacio entre texto y bordes */
	transition: opacity .5s;
	text-align: justify; /* texto centrado */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px; /* tamaño de letra */
	color:#ffffff; /* color de texto */
}
.texto:hover { /* Efecto al pasar el mouse */
	opacity: 1;
	transition: opacity .5s;
}

/*FIN*/

/*EDICION PAGINAS HTML display:block;
	margin:auto;*/

/*HISTOIRA DEL DIBUJO y PINTURA*/
.con {
	font-family: cursive;
	color: white;
	text-align: justify;
}

.container .main .con h4 {
	font-weight:bold;
	text-transform: uppercase;
	-webkit-text-fill-color: #F5B041;
	-webkit-text-stroke-color: #641E16;
	-webkit-text-stroke-width: 0.75px;
}

.con .contenido1{
	float: left;
	margin-right: 10px;
	width: 300px;
	height: 230px;
}

.con .contenido2{
	float: right;
	margin-left: 10px;
	width: 300px;
	height: 230px;
}

.con .contenido3{
	display:block;
	margin:auto;
	width: 300px;
	height: 230px;
}

@media screen and (max-width: 800px){
	.con .contenido1 {
		float: none;
		display:block;
		margin:auto;
		width: 300px;
		height: 230px;
	}
}

/*FIN DE HISTORIAS DE DIBUJO*/
/*HISTORIA DE LA PINTURA*/

.contene {
  width: 250px;
  height: 100%;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto 10px;
}
.div-ima {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.div-ima {
  overflow: hidden;
}

.div-ima .imag {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  transform: translate(0px);
  -ms-transform: translate(0px);
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
  -o-transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-ima .text {
  font-family: cursive;
  color: #000;
  position: absolute;
  z-index: 1;
  display: block;
  height: 60%;
  top: 40%;
  padding: 0 30px 25px;
  opacity: 0;
  text-shadow: 1px  0px 0px #F8C471,
               0px  1px 0px #F8C471,
              1px  0px 0px #F8C471,
               0px -1px 0px #F8C471;
  transition: all 1s;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
}
.div-ima:hover .imag {
  transform: translate(90px, 0px);
  -ms-transform: translate(90px, 0px);
  -moz-transform: translate(90px, 0px);
  -webkit-transform: translate(90px, 0px);
  -o-transform: translate(90px, 0px);
}

.div-ima:hover .text {
  opacity: 1;
}

/*FIN DE HISOTIRIA DE PINTURA*/

/*TECNICAS DE DIBUJO*/

.container .main .th4 {
	color: #F7DC6F;
	text-shadow: 1px  0px 0px #000,
               0px  1px 0px #000,
              1px  0px 0px #000,
               0px -1px 0px #000;
	font-family: cursive;
}

.div-ima .tex {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 15px 15px 15px 15px; /*efecto esquinas redondeadas */
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
}

.div-ima .tex h4 {
	color: #F0B27A ;
	text-shadow: 1px  0px 0px black,
               0px  1px 0px black,
              1px  0px 0px black,
               0px -1px 0px black;
	font-family: cursive;
	text-align: center;
	
	
}

.div-ima p {
	font-family: cursive;
	color: white;
	text-align: center;
}

.titulo_boton {
	padding: 5px;
	  height: 100%;  
	  background-color:#e6e6e6;
	  width:100%;
	  font-family:cursive;
	  font-size: 100%;
	  color: black;
}
.boton_mostrar {
  float:right;
  font-size:100%;
  line-height:20px;
  color:#DE7217;
}

.dib {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 800px){
	.titulo_boton, .boton_mostrar {
		float: none;
		font-size: 12px;
		text-align: justify;
	}
}

/*FIN TECNICAS DE DIBUJO*/

/*TECNICAS DE PINTURA*/

.gif {
	margin: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 80%;
}

/*FIN TECNICAS DE PINTURA*/

/*PINTORES*/
.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
	display: block;
	padding: 10px 10px;
}

.flex-container h4 {
	text-align: center;
}

.pintor {
	margin: 0 10px;
	width: 190px;
	height: 240px;
}

.main .contenido4 {
	float: right;
	margin-left: 10px;
	width: 20%;
	height: 25%;
}

@media screen and (max-width: 800px){
	.main .contenido4 {
		float: none;
		display: block;
		margin: auto;
		width: 50%;
		height: 50%;
		
	}
	
	.flex-container {
		display: flex;
		flex-direction: column;
	}
	
	.pintor {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.flex-container h4 {
		text-align: center;
	}
	
}

/*FIN PRINTORES*/

/*DIBUJAR*/
.flex-con {
	display: flex;
	flex-wrap: wrap;
}

.flex-container > div {
	display: block;
	padding: 10px 10px;
}

.dibujar {
	margin: 10px 10px;
	width: 310px;
	height: 310px;
}

iframe {
	width: 200px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tex .ul li {
	padding: 5px;
}

.tex .ul li a {
	color: white;
}

@media screen and (max-width: 800px){
	.flex-con {
		display: block;
	}
	
	.dibujar {
		flex: none;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

/*FIN DIBUJAR*/

/*TRABAJAR*/

video {
	display: block;
	width: 500px;
	height: 280px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 800px){
	video {
		display: block;
		width: 100%;
		height: 100%;
		margin: 10px;
		margin-left: auto;
		margin-right: auto;
}
}

/*FIN TRABAJAR*/

